{% extends "deepthought/templates/base.html" %}

{% block footer %}
<footer class="footer py-4">
  <div class="content has-text-centered">
    <p>
      Built with
      <span class="icon-text">
        <span class="icon">
          <i class="fas fa-code"></i>
        </span>
      </span>
      and
      <span class="icon-text">
        <span class="icon">
          <i class="fas fa-heart"></i>
        </span>
      </span>
    </p>
    <p>
      Powered by
        <a target="_blank" href="https://getzola.org">Zola</a>
        and
        <a target="_blank" href="https://netlify.com">Netlify</a>
    </p>
  </div>
</footer>
{% endblock %}
