name: CI

on:
  push:
    branches-ignore:
    - main

jobs:
  check:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-11, macos-12, macos-13-large, ubuntu-latest]
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 1
    - uses: DeterminateSystems/nix-installer-action@main
    - uses: DeterminateSystems/magic-nix-cache-action@main
    - uses: DeterminateSystems/flake-checker-action@main
    - name: Test nix environment
      run: nix develop
    - name: Test website
      run: nix develop --command bash -c "zola build"
